<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Загрузка</title>
		<meta name="viewport" content="width=1024" />

		<link rel="stylesheet" href="/static/styles.css" media="all" />

		<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js?ver=1.8.2'></script>
	</head>
	<body>
		<div class="content">
			<h1>Добавьте изображение</h1>
			<form id="upload" action="" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<input type="text" name="title" />
				<input type="file" name="image" />

				<div class="align-right">
					<input type="submit" value="Добавить в галерею" />
				</div>

				<div class="align-center">
					<a href="/lists">Посмотреть галерею</a>
				</div>
			</form>
		</div>
	</body>
</html>